@import "../styles.scss";

// HA - Header Area
// PA - Pages Area
// MA - Menu Area
// LA - Lateral Area
// FA - Footer Area
.container {
  display: grid;

  grid-template-columns: 15% auto 10%;
  grid-template-rows: 100px auto 5%;
  grid-template-areas:
    "HA HA HA"
    "MA PA LA"
    "FA FA FA";

  height: 100%;
  max-width: 1980px;

  background-color: $black;
}

.header-container {
  grid-area: HA;
  display: flex;
  align-items: center;

  margin: 21px 42px;

  border-bottom: solid 1.8px $gray;
}

.menu-container {
  grid-area: MA;
  display: flex;

  height: 100%;
  max-height: 100vh;
  overflow-y: scroll;

  border-right: solid 1px $gray;

  &::-webkit-scrollbar {
    display: none;
  }
}

.pages-container {
  grid-area: PA;

  max-height: 100vh;
  overflow-y: scroll;
}
