* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

*,
button,
input {
  border: 0;
  font-family: "Ropa Sans", sans-serif;
}

$black-primary: #494949;
$black-secondary: #404040;

$blue: #08b3e0;
$gray: #e5e5e5;
$gray-secondary: #c5c5c5;
