@import "../../../styles.scss";

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  width: 100%;

  & > ul > li {
    display: flex;
    position: relative;
    align-items: center;
    height: 40px;
    width: fit-content;

    margin: 20px 6px 20px auto;
    padding: 10px 20px 10px 26px;

    border: solid 1px $gray;
    border-right: none;
    border-radius: 20px 0px 0 20px;
    list-style: none;

    text-align: right;
    font-size: 20px;
    color: $gray;
    transition: border-radius 0.3s;

    &:hover {
      cursor: pointer;
      border-radius: 15px 0px 0 15px;
    }
  }

  & > ul > li:before {
    content: "";
    position: absolute;
    height: 8px;
    width: 29px;
    top: -9px;
    right: -7px;
    border-radius: 0 0 20px 0;

    box-shadow: 0.8px 0.8px 0 0 $gray;
  }

  & > ul > li:after {
    content: "";
    position: absolute;
    height: 8px;
    width: 29px;
    bottom: -9px;
    right: -7px;
    border-radius: 0 20px 0px 0;

    box-shadow: 0.8px -0.8px 0px 0px $gray;
  }
}
